name: Build and Push to ACR

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Build Image in ACR
        run: |
          az acr build \
            --registry ${{ secrets.ACR_NAME }} \
            --image bankingapp:latest \
            --platform linux/amd64 \
            .
